<div id="fundo">
  <div class="row" style="display: flex; justify-content: center;">

    <div style="display: flex; align-items: center; justify-content: center;">
      <img class="ornit-img" style="cursor: pointer;" src="../../../assets/img/ornitologando.png" routerLink="/" title="Logo Ornitologando">
    </div>

  </div>
</div>

<router-outlet></router-outlet>

<div>
  <footer class="footer-geral">
    © 2022 Ornitologando. Desenvolvido por Amanda Hammes e Thays Cambi
  </footer>
</div>





